body {background-color: #7c3d8f;}
h1 {
	color: #ffcc66;
	text-align: center;
	text-shadow: 2px 2px #a55eba;
}
a {color: #ffcc66;}
p {
	color: #ffcc66;
	text-align: center;
}
p.rub {
	color: #ffcc66;
	border: 2px #ffcc66;
	border-style: solid;
	outline-style: outset;
	outline-color: #a55eba;
	outline-width: thick;
}
p.vad {color: black;}
ol {
	color: #ffcc66;
	text-align: center;
}
ul {
	color: #ffcc66;
	text-align: center;}
li {text-align: center;}